
  .legacy-theme .sidebar-wrapper {
    background-color: var(--blue-yuju);
  }
  
  .legacy-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid var(--white-yuju);
  }
    
  .legacy-theme .sidebar-wrapper a:not(.dropdown-item),
  .legacy-theme .sidebar-wrapper .sidebar-header,
  .legacy-theme .sidebar-wrapper .sidebar-search input,
  .legacy-theme .sidebar-wrapper .sidebar-search i {
    color: var(--black-yuju);
  }
  
  .legacy-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .legacy-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: rgb(63, 62, 66);
  }
  
  .legacy-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .legacy-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .legacy-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: var(--red-yuju)
  }
  
  .sidebar-menu ul li a i {
    background-color: var(--yellow-yuju);
  }
  
  .sidebar-dropdown div {
    background-color: var(--white-yuju);
  }
    
  .legacy-theme.toggled #close-sidebar {
    color: #818896;
  }
  
  .legacy-theme.toggled #close-sidebar:hover {
    color: #b8bfce;
  }